header{
    grid-area: header;
    height: 20vh;
    background-color: black;
 }


 header{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation-name: animacion_body;
    animation-duration: 5s;
 }

 header nav{
   width: 70%;
}


header nav ul{
   margin-top: 30px;
}


header nav ul li{
   margin-top: 40px;
   margin: 5px;
}